<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^thaidemodrm\.am-drm-radio\.net$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:5001/{R:1}" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="ReverseProxyOutboundRule1" stopProcessing="false">
          <match filterByTags="A,Form,Img" pattern="^http(s)?://localhost:5001/(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^thaidemodrm\.am-drm-radio\.net$" />
          </conditions>
          <action type="Rewrite" value="http{R:1}://thaidemodrm.am-drm-radio.net/{R:2}" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpPlatform name="node" arguments="app.js" startupTimeLimit="60" processPath="C:\Program Files\nodejs\node.exe" watchedFiles="*.js">
      <environmentVariables>
        <environmentVariable name="PORT" value="5001" />
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
